@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack-medium-webfont/lifehack-medium-webfont.woff2") format("woff2"), url("../fonts/lifehack-medium-webfont/lifehack-medium-webfont.woff") format("woff"), url("../fonts/lifehack-medium-webfont/lifehack-medium-webfont.svg#lifehackmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.svg#gagalinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-webfont/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-webfont/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu-webfont/ubuntu-b-webfont.svg#ubuntubold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-webfont/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-webfont/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-webfont/ubuntu-light-webfont.svg#ubuntulight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-webfont/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-webfont/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-webfont/ubuntu-medium-webfont.svg#ubuntumedium") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-webfont/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-webfont/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/ubuntu-webfont/ubuntu-regular-webfont.svg#ubunturegular") format("svg");
  font-weight: 500;
  font-style: normal; }

html {
  font-size: 14px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 13px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }

body, html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 0.07143rem;
  height: 0.07143rem;
  margin: -0.07143rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 46.42857rem; }

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  position: relative; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 46.42857rem;
  overflow: hidden; }
  .section_centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 5.14286rem;
  font-weight: 400;
  line-height: 1.42; }
  .section__title_color_gray {
    color: #2f3234; }
  .section__title_color_white {
    color: #ffffff; }
  .section__title_position_center {
    text-align: center; }

footer {
  position: absolute;
  width: 100%; }

.order-link {
  min-width: 7rem;
  padding: 0.71429rem 1.21429rem;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  text-decoration: none;
  font-size: 0.92857rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #ce401a; }
  @media screen and (max-width: 768px) {
    .order-link {
      margin-right: 20px; } }

.fixed__list {
  position: fixed;
  top: 6.42857rem;
  right: 3.42857rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .fixed__list .fixed__item {
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin-bottom: 1.07143rem; }

/*hero header*/
.hero {
  background: url("../img/bg/bg_hero.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0.85714rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.logo {
  width: 6.57143rem;
  z-index: 200; }

.logo__img {
  max-width: 100%; }

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }
  @media screen and (max-width: 480px) {
    .header__menu {
      display: none; } }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    display: block;
    content: ' ';
    width: 0.28571rem;
    height: 0.28571rem;
    border-radius: 0.14286rem;
    background-color: #fff;
    margin: 0 1.14286rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 0.92857rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.header__btn {
  margin: 0 1.14286rem; }
  @media screen and (max-width: 768px) {
    .header__btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.hero__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 10.78571rem; } }
  @media screen and (max-width: 480px) {
    .hero__content {
      padding: 0 10%; } }

@media screen and (max-width: 768px) {
  .hero__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; } }

.hero__img, .hero__description {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .hero__img, .hero__description {
      width: 100%;
      text-align: center; } }

.hero__burger {
  max-width: 100%; }

.hero__description {
  margin-top: 3.78571rem; }
  @media screen and (max-width: 768px) {
    .hero__description {
      margin-top: 0; } }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  text-transform: lowercase;
  font-size: 4.64286rem;
  font-weight: 500;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .hero__description-text {
      font-size: 3.85714rem; } }

.arrow-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.71429rem; }

.arrow-link__img {
  width: 2.42857rem;
  height: 1.5rem;
  fill: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .arrow-link__img:hover {
    fill: #2f3234; }

.header__menu-hamburger {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(47, 50, 52, 0.99);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header__menu-hamburger.open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.nav__list-hamb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.list-hamb__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .list-hamb__item:after {
    display: block;
    content: ' ';
    width: 0.28571rem;
    height: 0.28571rem;
    border-radius: 0.14286rem;
    background-color: #fff;
    margin: 1.14286rem 0; }
  .list-hamb__item:last-child:after {
    display: none; }

.list-hamb__link {
  color: #ffffff;
  font-size: 0.92857rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .list-hamb__link:hover {
    text-decoration: underline; }

.hamburger-menu {
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: block;
      width: 3em;
      height: 3em;
      position: relative;
      z-index: 200;
      margin: 0; } }

.hamburger-menu .bit-1::before {
  content: '';
  left: 0.5em;
  top: 0.5em;
  position: absolute;
  width: 1em;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  height: 0.3em;
  background: white;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, top 0.3s;
  transition: transform 0.3s, top 0.3s;
  transition: transform 0.3s, top 0.3s, -webkit-transform 0.3s; }

.hamburger-menu .bit-1::after {
  content: '';
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1em;
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  height: 0.3em;
  background: white;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, top 0.3s;
  transition: transform 0.3s, top 0.3s;
  transition: transform 0.3s, top 0.3s, -webkit-transform 0.3s; }

.hamburger-menu .bit-2 {
  position: absolute;
  width: 2em;
  top: 50%;
  left: 50%;
  height: 0.3em;
  background: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width 0.3s 0.6s, -webkit-transform 0.3s 0.3s;
  transition: width 0.3s 0.6s, -webkit-transform 0.3s 0.3s;
  -o-transition: transform 0.3s 0.3s, width 0.3s 0.6s;
  transition: transform 0.3s 0.3s, width 0.3s 0.6s;
  transition: transform 0.3s 0.3s, width 0.3s 0.6s, -webkit-transform 0.3s 0.3s; }

.hamburger-menu .bit-3::before {
  content: '';
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  width: 1em;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  height: 0.3em;
  background: white;
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s;
  transition: bottom 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, bottom 0.3s;
  transition: transform 0.3s, bottom 0.3s;
  transition: transform 0.3s, bottom 0.3s, -webkit-transform 0.3s; }

.hamburger-menu .bit-3::after {
  content: '';
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  width: 1em;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  height: 0.3em;
  background: white;
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s;
  transition: bottom 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, bottom 0.3s;
  transition: transform 0.3s, bottom 0.3s;
  transition: transform 0.3s, bottom 0.3s, -webkit-transform 0.3s; }

.hamburger-menu.open .bit-1:before {
  top: 0.4em;
  width: 1.2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transition: width 0.3s 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  transition: width 0.3s 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

.hamburger-menu.open .bit-1:after {
  top: 0.4em;
  width: 1.2em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transition: width 0.3s 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  transition: width 0.3s 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

.hamburger-menu.open .bit-2 {
  width: 0.3em;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: width 0.3s, -webkit-transform 0.3s 0.3s;
  transition: width 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: transform 0.3s 0.3s, width 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s, -webkit-transform 0.3s 0.3s; }

.hamburger-menu.open .bit-3:before {
  bottom: 0.4em;
  width: 1.2em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: width 0.3s 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  transition: width 0.3s 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

.hamburger-menu.open .bit-3:after {
  bottom: 0.4em;
  width: 1.2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: width 0.3s 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  transition: width 0.3s 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
  transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

.best {
  background: url("../img/bg/bg_best.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

@media screen and (max-width: 480px) {
  .best__icon {
    margin-right: 0.71429rem; } }

.best__icon-pic {
  width: 6.92857rem;
  height: 6.35714rem;
  fill: #e45028; }
  .best__icon-pic_yellow {
    fill: #f9b43b; }
  .best__icon-pic_green {
    fill: #8ac03e; }

.best__title {
  font-family: "Lifehack";
  font-size: 1.71429rem;
  text-align: center;
  /*  border: 1px solid;*/
  margin: 0.71429rem 0; }
  @media screen and (max-width: 480px) {
    .best__title {
      text-align: left; } }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 10%; } }

.best__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* border: 1px solid;*/ }
  @media screen and (max-width: 480px) {
    .best__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-bottom: 2.92857rem; } }

.best__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* border: 1px solid;*/ }

.best__text {
  text-align: center;
  /* border: 1px solid;*/ }
  @media screen and (max-width: 480px) {
    .best__text {
      text-align: left; } }

.team {
  background: url("../img/bg/bg_command.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 3.57143rem; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .team__container {
      padding-left: 0; } }

@media screen and (max-width: 768px) {
  .team__content {
    text-align: center; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .team__content {
      margin-top: 0; } }

@media screen and (max-width: 768px) and (max-width: 480px) {
  .team-acco {
    margin-top: 1.42857rem; } }

.team-acco__trigger {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-acco__trigger:before {
    content: '';
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0;
    margin-right: 0.35714rem; }
  @media screen and (max-width: 768px) {
    .team-acco__trigger {
      font-family: Gagalin;
      font-size: 1.78357rem; } }

.team-acco__content {
  height: 0;
  overflow: hidden; }

.team-acco__text {
  color: #ffffff;
  width: 50%;
  margin-left: 1.42857rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .team-acco__text {
      text-align: center;
      margin-left: 0; } }

@media screen and (max-width: 768px) {
  .team-acco__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2.21429rem; } }

.team-acco__item_active .team-acco__trigger {
  color: #f9b43b; }
  .team-acco__item_active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-acco__item_active .team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.71429rem 0;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .team-acco__item_active .team-acco__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.team-acco__pic {
  width: 7.14286rem;
  height: 7.14286rem;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .reviews__item:hover .reviews-desc {
    position: absolute;
    opacity: 1;
    width: 100%; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__img {
  width: 100%; }

.reviews-desc {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 3.21429rem 1.35714rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0; }
  @media screen and (max-width: 768px) {
    .reviews-desc {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .reviews-desc .reviews-desc__text {
      display: none; } }

.reviews-desc__title {
  font-family: "Gagalin";
  font-size: 1rem;
  color: #ffffff; }

.reviews-desc__text {
  color: #ffffff;
  font-weight: 300; }

.reviews-desc__link {
  min-width: 7.85714rem;
  background-color: #2f3234;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .reviews-desc__link:hover {
    background-color: #1e2021; }

.map {
  /*background: url("../img/bg/bg_map.jpg") center center no-repeat;
  background-size: cover;*/
  position: relative; }

.yandex-map {
  height: 100%;
  width: 100%; }

.menu {
  background: url("../img/bg/bg_menu.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }

.menu__title {
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 4%; }

.menu-acco {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu-acco__item {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu-acco__trigger {
  color: #ffffff;
  font-family: Gagalin;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.85714rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 4.28571rem;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu-acco__trigger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(47, 50, 52, 0.7); }

.menu-acco__item_active .menu-acco__trigger {
  color: #f9b43b; }

.menu-acco__item_active .menu-acco__content {
  width: 38.57143rem;
  background-color: rgba(47, 50, 52, 0.8); }
  .menu-acco__item_active .menu-acco__content .content-text {
    width: 100%;
    color: #ffffff;
    font-family: Ubuntu;
    padding-left: 2.85714rem;
    padding-top: 4.64286rem;
    text-align: left; }

.trigger-title {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap; }

.menu-acco__content {
  width: 0;
  overflow: hidden; }

.order {
  background: url("../img/bg/bg_form.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

/*
.form__block-title{
  color: $white;
}
*/
.form__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .form__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.form__content {
  width: 50%;
  margin: 0 0.71429rem; }
  @media screen and (max-width: 768px) {
    .form__content {
      width: 100%;
      padding: 0 13%; } }
  @media screen and (max-width: 480px) {
    .form__content {
      padding: 0; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.42857rem; }
  .form__row:last-child {
    margin-bottom: 0.71429rem; }
  .form__row_radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 1.42857rem;
    margin-bottom: 1.78571rem; }
    .form__row_radio:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .form__row_radio {
        padding: 0 40px;
        width: 100%; } }
  .form__row_checkbox {
    margin-bottom: 1.78571rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media screen and (max-width: 480px) {
      .form__row_checkbox {
        margin-left: 33%; } }

/*
.form__row_radio{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 20px;
  margin-bottom: 25px;
  &:last-child{
    margin-right: 0;
  }

}
*/
@media screen and (max-width: 768px) {
  .form__elem {
    margin-top: 5rem; } }

@media screen and (max-width: 480px) {
  .form__elem {
    margin-top: 0; } }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.42857rem; }
  .form__block:last-child {
    margin-right: 0; }
  .form__block-title {
    color: #ffffff; }
  .form__block_other {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

/*
.form__block_other{
  display: flex;
  flex: 1;
  align-items: center;
}*/
.form__input {
  border: none;
  border-radius: 5px;
  padding: 0.71429rem;
  width: 100%; }
  .form__input-textarea {
    resize: none;
    height: 8rem; }
  .form__input-hidden {
    display: none; }

.form__button {
  border: none;
  color: #ffffff;
  margin-right: 1.42857rem; }
  .form__button-reset {
    background: none;
    color: #ffffff; }

/*.form__input-hidden{
  display: none;
}*/
.radio__fake {
  width: 1.14286rem;
  height: 1.14286rem;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  margin-right: 0.71429rem; }

.checkbox-fake {
  width: 1.14286rem;
  height: 1.14286rem;
  background-color: #ffffff;
  position: relative;
  margin-right: 0.71429rem; }

.form__block_other {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.form__row_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .form__row_btn {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__input-hidden:checked + .radio__fake:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.57143rem;
  height: 0.57143rem;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #e45028; }

.form__input-hidden:checked + .checkbox-fake:after {
  content: "";
  position: absolute;
  top: 0.14286rem;
  right: 0.14286rem;
  width: 0.85714rem;
  height: 0.85714rem;
  background: url("../img/icons/check.svg") center center no-repeat;
  background-size: cover; }

.footer {
  background: url("../img/bg/bg_footer.jpg") center center no-repeat;
  background-size: cover;
  padding: 0.71429rem 0rem;
  left: 0;
  right: 0;
  bottom: 0; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%; }
  @media screen and (max-width: 480px) {
    .contacts {
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.contacts__address {
  color: #ffffff;
  font-family: Ubuntu;
  font-weight: 300;
  font-style: normal; }

.contacts__number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e45028; }

.contacts__number-img {
  width: 0.78571rem;
  height: 0.78571rem;
  fill: #e45028;
  margin-right: 0.57143rem; }

.social__list {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .social__list {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.social__item {
  margin-right: 0.71429rem; }
  .social__item:last-child {
    margin-right: 0; }

.social__img {
  height: 1.42857rem;
  width: 1.42857rem;
  fill: #2f3234; }
  .social__img:hover {
    fill: #ffffff; }

/*# sourceMappingURL=main.css.map */