@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack-medium-webfont/lifehack-medium-webfont.woff2") format("woff2"), url("../fonts/lifehack-medium-webfont/lifehack-medium-webfont.woff") format("woff"), url("../fonts/lifehack-medium-webfont/lifehack-medium-webfont.svg#lifehackmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont/gagalin-regular-webfont.svg#gagalinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-webfont/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-webfont/ubuntu-b-webfont.woff") format("woff"), url("../fonts/ubuntu-webfont/ubuntu-b-webfont.svg#ubuntubold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-webfont/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-webfont/ubuntu-light-webfont.woff") format("woff"), url("../fonts/ubuntu-webfont/ubuntu-light-webfont.svg#ubuntulight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-webfont/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-webfont/ubuntu-medium-webfont.woff") format("woff"), url("../fonts/ubuntu-webfont/ubuntu-medium-webfont.svg#ubuntumedium") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-webfont/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-webfont/ubuntu-regular-webfont.woff") format("woff"), url("../fonts/ubuntu-webfont/ubuntu-regular-webfont.svg#ubunturegular") format("svg");
  font-weight: 500;
  font-style: normal; }

body, html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  max-width: 940px;
  width: 95%;
  margin: 0 auto;
  position: relative; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px;
  overflow: hidden; }
  .section_centered {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin-bottom: 40px; }
  .section__title_color_gray {
    color: #2f3234; }
  .section__title_color_white {
    color: #ffffff; }
  .section__title_position_center {
    text-align: center; }

footer {
  position: absolute;
  width: 100%; }

.order-link {
  min-width: 7rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #ce401a; }

.fixed__list {
  position: fixed;
  top: 90px;
  right: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .fixed__list .fixed__item {
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 6px solid #ffffff;
    margin-bottom: 15px; }

/*hero header*/
.hero {
  background: url("../img/bg/bg_hero.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 12px; }

.logo {
  width: 92px;
  height: 70px; }

.logo__img {
  max-height: 100%; }

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

/*.logo__img{
  width: 92px;
  height: 70px;
}*/
.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    display: block;
    content: ' ';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 16px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.header__btn {
  margin: 0 16px; }

.hero__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__img, .hero__description {
  width: 50%; }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1; }

.arrow-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px; }

.arrow-link__img {
  width: 34px;
  height: 21px;
  fill: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .arrow-link__img:hover {
    fill: #2f3234; }

.best {
  background: url("../img/bg/bg_best.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.best__icon-pic {
  width: 97px;
  height: 89px;
  fill: #e45028; }
  .best__icon-pic_yellow {
    fill: #f9b43b; }
  .best__icon-pic_green {
    fill: #8ac03e; }

.best__title {
  font-family: "Lifehack";
  font-size: 24.1px;
  text-align: center;
  /*  border: 1px solid;*/
  margin: 10px 0; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* border: 1px solid;*/ }

.best__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* border: 1px solid;*/ }

.best__text {
  text-align: center;
  /* border: 1px solid;*/ }

.team {
  background: url("../img/bg/bg_command.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 50px; }

.team-acco__trigger {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-acco__trigger:before {
    content: '';
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0;
    margin-right: 5px; }

.team-acco__content {
  height: 0;
  overflow: hidden; }

.team-acco__text {
  color: #ffffff;
  width: 50%;
  margin-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.team-acco__item_active .team-acco__trigger {
  color: #f9b43b; }
  .team-acco__item_active .team-acco__trigger:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }

.team-acco__item_active .team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  height: 100%; }

.team-acco__pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .reviews__item:hover .reviews-desc {
    position: absolute;
    opacity: 1; }

.reviews__img {
  width: 100%; }

.reviews-desc {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 45px 19px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0; }

.reviews-desc__title {
  font-family: "Gagalin";
  font-size: 14px;
  color: #ffffff; }

.reviews-desc__text {
  color: #ffffff;
  font-weight: 300; }

.reviews-desc__link {
  min-width: 110px;
  background-color: #2f3234;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .reviews-desc__link:hover {
    background-color: #1e2021; }

.map {
  background: url("../img/bg/bg_map.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.menu {
  background: url("../img/bg/bg_menu.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }

.menu__title {
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 4%; }

.menu-acco {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu-acco__item {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu-acco__trigger {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 60px;
  position: relative; }
  .menu-acco__trigger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(47, 50, 52, 0.7); }

.menu-acco__item_active .menu-acco__trigger {
  color: #f9b43b; }

.menu-acco__item_active .menu-acco__content {
  width: 540px;
  background-color: rgba(47, 50, 52, 0.8); }
  .menu-acco__item_active .menu-acco__content .content-text {
    width: 100%;
    color: #ffffff;
    font-family: Ubuntu;
    padding-left: 40px;
    padding-top: 65px;
    text-align: left; }

.trigger__title {
  -webkit-transform: rotate(-90deg) translateX(50%);
  -ms-transform: rotate(-90deg) translateX(50%);
  transform: rotate(-90deg) translateX(50%);
  white-space: nowrap; }

.menu-acco__content {
  width: 0;
  overflow: hidden; }

.order {
  background: url("../img/bg/bg_form.jpg") center center no-repeat;
  background-size: cover; }

/*
.form__block-title{
  color: $white;
}
*/
.form__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form__content {
  width: 50%;
  margin: 0 10px; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .form__row:last-child {
    margin-bottom: 10px; }
  .form__row_radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 20px;
    margin-bottom: 25px; }
    .form__row_radio:last-child {
      margin-right: 0; }

/*
.form__row_radio{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 20px;
  margin-bottom: 25px;
  &:last-child{
    margin-right: 0;
  }

}
*/
.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }
  .form__block-title {
    color: #ffffff; }
  .form__block_other {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

/*
.form__block_other{
  display: flex;
  flex: 1;
  align-items: center;
}*/
.form__input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%; }
  .form__input-textarea {
    resize: none;
    height: 112px; }
  .form__input-hidden {
    display: none; }

.form__button {
  border: none;
  color: #ffffff;
  margin-right: 20px; }
  .form__button-reset {
    background: none;
    color: #ffffff; }

/*.form__input-hidden{
  display: none;
}*/
.radio__fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  margin-right: 10px; }

.checkbox-fake {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: relative;
  margin-right: 10px; }

.form__block_other {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.form__row_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.form__input-hidden:checked + .radio__fake:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #e45028; }

.form__input-hidden:checked + .checkbox-fake:after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 12px;
  height: 12px;
  background: url("../img/icons/check.svg") center center no-repeat;
  background-size: cover; }

.footer {
  background: url("../img/bg/bg_footer.jpg") center center no-repeat;
  background-size: cover;
  padding: 10px 0px; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%; }

.contacts__address {
  color: #ffffff;
  font-family: Ubuntu;
  font-weight: 300;
  font-style: normal; }

.contacts__number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e45028; }

.contacts__number-img {
  width: 11px;
  height: 11px;
  fill: #e45028;
  margin-right: 8px; }

.social__list {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.social__item {
  margin-right: 10px; }
  .social__item:last-child {
    margin-right: 0; }

.social__img {
  height: 20px;
  width: 20px;
  fill: #2f3234; }
  .social__img:hover {
    fill: #ffffff; }

/*# sourceMappingURL=main.css.map */