//section best
.best {
  background: url('../img/bg/bg_best.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.best__icon-pic{
  width: 97px;
  height: 89px;
  fill: $orange;

  &_yellow{
    fill: $yellow;
  }

  &_green{
    fill: $green;
  }
}

.best__title{
  font-family:"Lifehack";
  font-size: 24.1px;
  text-align: center;
/*  border: 1px solid;*/
  margin: 10px 0;
}



.best__list {
  display: flex;
}

.best__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
 /* border: 1px solid;*/

}

.best__content{
  display: flex;
  flex-direction: column;
 /* border: 1px solid;*/
}

.best__text{
  text-align: center;
 /* border: 1px solid;*/
}


