/*hero header*/

.hero{
background: url('../img/bg/bg_hero.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero__container{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: rem(12px);
  align-items: center;
}

.logo{
  width: rem(92px);
  z-index: 200;
}

.logo__img{
  max-width: 100%;
}
.header__menu{
  display: flex;
  align-items: center;
  margin-left: auto;

  @include tablets{
    display: none;
  }

  @include phones{
    display: none;
  }
}



.nav__list{
  display: flex;
}

.nav__item {
  display: flex;
  align-items: center;
  &:after {
    display: block;
    content: ' ';
    @include circle(rem(4px), #fff);
    margin: 0 rem(16px);
  }
  &:last-child:after {
    display: none;
  }
}

.nav__link {
  color: #ffffff;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
}

.header__btn{
  margin: 0 rem(16px);
  @include tablets{
    display: flex;
  }
}

.hero__content{
  display: flex;
  align-items: center;

    @include tablets{
      flex-direction: column;
      padding: 0 rem(151px);
    }
  @include phones{
    padding:0 10%;
  }
}
.hero__img{
  @include tablets{
    display: flex;
    align-items: flex-end;
  }
}
.hero__img, .hero__description {
  width: 50%;

  @include tablets{
    width: 100%;
    text-align: center;
  }
}

.hero__burger{
  max-width: 100%;
}

.hero__description{
  margin-top: rem(53px);

    @include tablets{
      margin-top: 0;
    }
}
.hero__description-text {
  color: $white;
  font-family: 'Lifehack';
  text-transform: lowercase;
  font-size: rem(65px);
  font-weight: 500;
  line-height: 1;
    
    @include phones{
      font-size: rem(54px);
    }
}


.arrow-down{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(10px);
}

.arrow-link__img{
  width: rem(34px);
  height:rem(21px);
  fill: $white;
  transition: .3s;

  &:hover{
    fill: $gray;

  }
}

.header__menu-hamburger{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
 background: rgba($gray,.99);
 // padding-left: rem(70px);
  //display: flex;
  flex-direction: column;
  justify-content: center;

  &.open{
    display: flex;
  }
}

.nav__list-hamb{
  display: flex;
  flex-direction: column;
}

.list-hamb__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  &:after {
    display: block;
    content: ' ';
    @include circle(rem(4px), #fff);
    margin: 1.14286rem 0;
  }
  &:last-child:after {
    display: none;
  }
}

.list-hamb__link {
  color: #ffffff;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
}