/*hero header*/

.hero{
background: url('../img/bg/bg_hero.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero__container{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
}

.logo{
  width: 92px;
  height: 70px;
}

.logo__img{
  max-height: 100%;
}
.header__menu{
  display: flex;
  align-items: center;
  margin-left: auto;
}

/*.logo__img{
  width: 92px;
  height: 70px;
}*/

.nav__list{
  display: flex;
}

.nav__item {
  display: flex;
  align-items: center;
  &:after {
    display: block;
    content: ' ';
    @include circle(4px, #fff);
    margin: 0 16px;
  }
  &:last-child:after {
    display: none;
  }
}

.nav__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    text-decoration: underline;
  }
}

.header__btn{
  margin: 0 16px;
}

.hero__content{
  display: flex;
  align-items: center;
}
.hero__img, .hero__description {
  width: 50%;
}
.hero__description-text {
  color: $white;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1;
}

.arrow-down{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.arrow-link__img{
  width: 34px;
  height:21px;
  fill: $white;
  transition: .3s;

  &:hover{
    fill: $gray;

  }
}