.reviews__list{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);


  &:hover {
    .reviews-desc {
      position: absolute;
      opacity: 1;
    }
  }
}


.reviews__img{
  width: 100%;
}

.reviews-desc{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: rem(45px) rem(19px);
  transition: .5s;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.reviews-desc__title{
  font-family: "Gagalin";
  font-size: rem(14px);
  color: $white;
}

.reviews-desc__text{
  color: $white;
  font-weight: 300;
}

.reviews-desc__link{
  min-width: rem(110px);
  background-color: $gray;
  transition:.5s;

  &:hover {
    background-color: darken($gray, 7%);
  }
}