.team{
  background: url("../img/bg/bg_command.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  position: relative;
}

.team__container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
 background: rgba($gray,.93);
  padding-left: rem(70px);
  display: flex;
  flex-direction: column;
  padding-top:rem(50px);

    @include tablets{
      width: 100%;
    }
}

.team-acco__trigger{
  color: $white;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: $yellow;
    border-bottom-width: 0;
    margin-right:rem(5px);
  }
}

.team-acco__content{

  height: 0;
  overflow: hidden;
}


.team-acco__text{
  color: $white;
  width: 50%;
  margin-left: rem(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    @include tablets{
      text-align: center;
      margin-left: 0;
    }
}

.team-acco__item{

  @include tablets{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.team-acco__item_active{
  .team-acco__trigger{
    color: $yellow;

    &:before{
      transform: rotate(-180deg);
    }

    }
  .team-acco__content{
    display: flex;
    margin: rem(10px) 0;
    height: 100%;

      @include tablets{
        flex-direction: column;
        align-items: center;
      }
  }
}

.team-acco__pic{
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}
